#pages-faq {

	.container-faq {
	  display: flex;
	  align-items:  center;
	  justify-content: center;
  
	}
	
	h1 {
		font-size: 48px;
		margin-top: 12px;
	}

	.container-content {
		margin-top: 4%;
		margin-top: 4%;
	}
	
	.img-faq {
		width: 150px;
	}
	
	.img-faq2 {
		height: 150px;
	}
	
	.row-img {
		display: flex;
	  align-items:  center;
	  justify-content: center;
	}
	
	@media screen and (min-width: 200px) and (max-width: 1000px) {
		.container{

		.row:nth-of-type(1){
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: wrap;
		  }
		  .row:nth-of-type(2){
			  display: flex;
			  flex-direction: column;
			  flex-wrap: wrap;
			  padding-top: 1rem;
			}

		  .row{
				  width: 100%;
						.col-2{
							max-width: 100%;
							width: 100%;
							display: flex;
							justify-content: center;
							padding-bottom: 1rem;
						}
		  }
		}
	}
	@media screen and (min-width: 200px) and (max-width: 720px) {
		.img-faq2{
			width: 100%;
			height: unset;
		}
	}
}
