#pages-home {

  .card-cutsom {
    border-radius: 2em;
   	border: solid 3px #D2F4F4;
    padding: 1em;
    margin: 1em 1em;
    transition-duration: .3s;
    &:hover {
      background-color: #D2F4F4;
    }
    .head {
      height: 170px;
      width: 100%;
      margin: .5em 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .pic {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }

	#banner {
		background-color: #E83E8C;
		background-image: url('https://res.cloudinary.com/borismd/image/upload/v1607529112/Assets/banner_kc8hcf.png');
		background-size: cover;
		background-repeat: repeat-x;
		background-position: bottom center;
		background-blend-mode: overlay;
		padding: 4rem;
	}

  #banner-container {
    width:80%;
    margin: 0 auto;
  }

  #banner-container p{
    font-size: 1.2rem;
  }

  #banner a{
    margin: 5px auto;
  }

	h2 {
		text-align: center;
    font-size: 2.5rem;
	}

	.col-6, .col-8 {
		margin: 1% 0;
	}

	.container {
		margin: 4rem auto;
	}
}
