<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/nlabrazi/letelephoneose"></a>

    <%= link_to 'Github', "https://github.com/nlabrazi/letelephoneose" %>
    <%= link_to 'Mentions Légales', mentions_path %>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by Le Telephone Ose
  </div>
</div>