<div class="container container-faq">
  <div class="row align-items-start">
    <div class="col-12">
			<h1>Comment ça marche</h1>
		</div>
	</div>
</div>


<div class="container container-fluid container-content">
	<div class="row">
		<div class="col-10">
			<h3>Le principe du Téléphone Ose</h3>
			<p>Le Téléphone Ose ? C'est un concept qui part d'une idée simple : donner des émotions à travers la voix. Que ce soit pour vous ou pour offrir, un.e chanteur.se vous appelle pour vous chanter une chanson au téléphone.</p>
		</div>
			<div class="col-2">
				<%= image_tag "https://res.cloudinary.com/borismd/image/upload/v1607101153/Assets/retro_illustration_xyrpcp.png", class: "img-faq" %>
		</div>		
	</div>
	
	<div class="row">
		<div class="col-2">
			<%= image_tag "https://res.cloudinary.com/borismd/image/upload/v1607101143/Assets/7acc43b8d0e1cf34f1aba8fa46ee3fd1_adyoop.jpg", class: "img-faq" %>
		</div>
		<div class="col-10">
			<h3>Comment ça marche</h3>
			<p>Séduit par l'idée, n'hésitez plus : précipitez vous sur la <%= link_to "liste de tous nos artistes", artists_path %></p> pour choisir l'artiste de vos envies du moment.</p>
		</div>
	</div>
</div>

<div class="container container-fluid container-content">
	<div class="row">
		<p>Exemple : vous avez jeté votre dévolu sur Mathilde Deschamps. Vous avez soudainement envie qu'une voix douce vous chante "Ce Rêve bleu" au téléphone.</p>
		</div>
	<div class="row-img">
			<%= image_tag "https://res.cloudinary.com/borismd/image/upload/v1607588559/Assets/ccm_ncgloh.png", class: "img-faq2" %>
	</div>
	<div class="row">
		<div class="col-12">
			<p>Vous pouvez alors soit cliquer sur "Plus de détails" pour en savoir davantage sur l'artiste, soit cliquer sur "Réserver" directement !</p>
		</div>
	</div>
</div>


<div class="container container-fluid container-content">
	<div class="row">
		<div class="col-12">
			<h3>"Je suis artiste et je veux participer"</h3>
			<p>Rien de plus simple ! Il faut que tu te crées un profil Utilisateur puis que tu envoies un mail à l'administrateur du site grâce au formulaire de contact.</p>
			<p>Une fois que l'administrateur du site reçoit ta demande avec tes justifications (un petit lien vers un Soundcloud ou ta chaîne YouTube est un plus !), il peut alors te déclarer comme artiste.</p>
			<p>En tant qu'artiste, tu pourras éditer ton nom d'artiste, et ta description, pour que le public puisse un peu mieux te connaître ! ;) </p>
		</div>
	</div>
</div>
