<div class="jumbotron">
	<div class="row">
		<h1>Mentions Légales<br />et Conditions Générales de Vente</h1>
	</div>
</div>

<div class="container">
	<p>Ces mentions légales et ces conditions générales peuvent être amenées à évoluer sans aucune autre notification que leur mise en ligne.</p>
</div>

<div class="container">
	<h2>Mentions légales</h2>
	<div class="container">
		<h4>Editeur</h4>
		<p>Le site "letelephoneose-herokuapp.com" est par XXX. <br/>
		N° SIRET : 790 489 389 748 21 RCS de Lyon<br/>
		Vous pouvez nous contacter par le .</p>
	</div>
	<div class="container">
		<h4>Hébergeur</h4>
		<p>Le site "letelephoneose-herokuapp.com" est hébergé par Heroku - San Francisco.
	</div>
</div>

<div class="container">
	<h2>Conditions générales d'utilisation du site et des services proposés</h2>
	<div class="container">
		<p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par Le Telephone Ose, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
	</div>

	<div class="container">
		<p>Le Téléphone Ose s’efforce de fournir sur le site www.letelephoneose-herokuapp.com des informations aussi précises que possible. Toutefois, il ne pourra être tenu responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
			<br /><br />
			Tous les informations indiquées sur le site www.letelephoneose-herokuapp.com sont données à titre indicatif, et sont susceptibles d’évoluer. Par ailleurs, les renseignements figurant sur le site www.letelephoneose-herokuapp.com ne sont pas exhaustifs. Ils sont donnés sous réserve de modifications ayant été apportées depuis leur mise en ligne.</p>
	</div>	
	
	<div class="container">
		<h4>Propriétés intellectuelles</h4>
		<p>Le Téléphone Ose est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons.</p>
<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de Le Téléphone Ose.</p>
<p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
	</div>
	
	<div class="container">
		<h4>Gestion des données personnelles</h4>
		<p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>
A l'occasion de l'utilisation du site www.letelephoneose-herokuapp.com, peuvent êtres recueillies : le formulaire de contact ou l'inscription au sein du site.</p>
<p>En tout état de cause, Le Téléphone Ose ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le www.letelephoneose-herokuapp.com. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site www.letelephoneose-herokuapp.com l’obligation ou non de fournir ces informations.</p>
	</div>
	
</div>
