<div class="container">

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="p-5">Merci pour votre email</h1>

      <p>Nous reviendrons vers vous.</p>

    </div>
  </div>
</div>
